<main class="main">
  <div class="main__content">
    <h1>Pomodoro</h1>
    <h2>Seja Produtivo do jeito certo!</h2>

    <span class="main__content_divider"></span>
    <div class="main__content__options">
      <button
        [ngClass]="{ active_button: mode === 'pomodoro' }"
        (click)="pomorodoClock()"
      >
        Pomodoro
      </button>
      <button
        [ngClass]="{ active_button: mode === 'shortBreak' }"
        (click)="shortBreakClock()"
      >
        Descanso
      </button>
      <button
        [ngClass]="{ active_button: mode === 'longBreak' }"
        (click)="longBreakClock()"
      >
        Descanso Longo
      </button>
    </div>
    <div (click)="startTimeDecrease()" class="main__content__timer">
      <div class="main__content__timer__circle"></div>
      <h1 class="main__content__timer__time">{{ formattedSeconds }}</h1>
    </div>
    <div class="main__content__button">
      <button (click)="startTimeDecrease()">
        <span>{{ buttonText }}</span>
      </button>
    </div>
  </div>
</main>
<router-outlet />
